/* Reset to box-sizing border-box */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol,
li {
    padding: 0px;
    margin: 0px;
}

/* Home page */
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.home-container {
    text-align: center;
}

a {
    color: yellow;
}

ul.menu-list li {
    margin-bottom: 8px;
    list-style: none;
}

.home-heading {
    color: gold;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Recipes */
div.recipe-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

div.recipe-container img {
    width: 300px;
    height: auto;
}

div.recipe-container h1 {
    color: rgb(232, 98, 98);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.recipe-container ul,
div.recipe-container ol {
    text-align: left;
}

div.recipe-container li {
    margin-bottom: 12px;
}